<div class='header'>
    <div class ='upper-content' routerLink='/'>
        <div class ='logo'><img src="../../../../assets/logo/shareTime.png" alt=""></div>
        <div class = 'auth-ui' >
            <div>login</div>
            <div class='logout'>logout</div>
        </div>
    </div>
    
    <div class='lower-content'>
        <div><mat-icon>home</mat-icon></div>
        <div><mat-icon>store</mat-icon></div>
        <div><mat-icon>messages</mat-icon></div>
        <div><mat-icon>settings</mat-icon></div>
    </div>
</div>